all:
  hosts:
    myserver:
      ansible_host: 192.168.1.100
      ansible_user: root
  children:
    gitlab_servers:
      hosts:
        myserver:
    kubernetes_nodes:
      hosts:
        myserver:
    dns_servers:
      hosts:
        myserver:
